/* Reseta algumas propriedades básicas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 60px; /* Espaço para o header fixo */
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

form label {
    margin-bottom: 5px;
    color: #555;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

form button:hover {
    background-color: #4cae4c;
}

/* Responsividade */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }

    form {
        width: 100%;
        padding: 15px;
    }

    form input, form button {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    form input, form button {
        font-size: 12px;
        padding: 6px;
    }
}

#estado {
    padding: 8px 12px; /* Espaçamento interno para melhorar o visual */
    font-size: 16px; /* Tamanho da fonte */
    border: 1px solid #ccc; /* Borda cinza */
    border-radius: 4px; /* Cantos arredondados */
    background-color: #fff; /* Cor de fundo branca */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    outline: none; /* Remove o contorno padrão ao focar */
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Transições suaves */
    margin: 10px 0;
  }
  
  #estado:hover,
  #estado:focus {
    border-color: #aaa; /* Mudança na cor da borda ao passar o mouse ou focar */
  }
  
  #estado option {
    padding: 8px 12px; /* Espaçamento interno das opções */
    font-size: 16px; /* Tamanho da fonte das opções */
  }