/* Reseta algumas propriedades básicas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 60px; /* Espaço para o header fixo */
}

#contact-main {
    width: 100%;
    max-width: 1200px;
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    font-size: large;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    color: #555;
}

form input, form textarea {
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form textarea {
    resize: vertical;
    min-height: 150px;
    min-width: 1000px;
}

form button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

form button:hover {
    background-color: #4cae4c;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
}

/* Responsividade */
@media (max-width: 1200px) {
    #contact-main {
        padding: 30px;
    }
    
    form input, form textarea {
        font-size: 14px;
    }
    
    form button {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }

    #contact-main {
        padding: 20px;
    }

    form input, form textarea {
        padding: 10px;
    }

    form button {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: medium;
    }

    form input, form textarea {
        font-size: 12px;
        padding: 8px;
    }

    form textarea {
        min-width: 100%;
    }

    form button {
        font-size: 14px;
        padding: 8px;
    }
}
